* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
}

main {
    margin: 5px;
    display: flex;
    justify-content: center;
}

button {
    margin: 5px 5px 0px 5px;
    background-color: rgb(43, 46, 226);
    color: white;
    border-radius: 5px;
    font-size: large;
    border: 30px;
}

button:hover {
    color: black;
    cursor: pointer;
}

.highscores {
    display: flex;
    padding: 5px;
}

.highscores:hover {
    cursor: pointer;
}

.scoreDisplay {
    align-items: center;
    display: flex;
}

.timer {
    display: flex;
    align-items: center;
    padding: 5px;
}

.quiz {
    width: 50%;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.question {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.choices {
    display: flex;
    margin: 30px 0px 10px 0px;
    text-align: center;
}

.startButton {
    margin: 20px 0px 10px 0px;
    justify-content: center;
}

.saveGameDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px 10px 0px;
}


@media screen and (max-width: 1060px) {
    .quiz {
        width: 70%;
    }
}

@media screen and (max-width: 620px) {
    .quiz {
        width: 100%;
    }
}